<!DOCTYPE html>
<html>
    <head>
        <title>Task-Manager</title>
    </head>
    <body>
        <p id="loginInfo" style="color: red"></p>
        <h1>login</h1>
        <form id="login-form">
            <input id="login-email" type="email" name="email" placeholder="email" required>
            <input id="login-password" type="password" name="password" placeholder="password" required>
            <button type="submit">login</button>
        </form>
        
        <script src="/js/login.js"></script>
    </body>
</html>