<!DOCTYPE html>
<html>
    <head>
        <title>Task-Manager</title>
    </head>
    <body>
         <h1>You have been successfully logged out {{ofAll}}</h1>
         <a href="/login">Click here to go back to login page</a><br>
         <a href="/">click here to go to signup page</a>
    </body>
</html>