<!DOCTYPE html>
<html>
    <head>
        <title>Task-Manager</title>
    </head>
    <body>
        <h1 style="color: purple">Aloha, {{name}}</h1>
        <p id="information" style="color: green">{{info}}</p>
        <p id="delinfo" style="color: red"></p>

        <button id="user-profile" type="submit">User Profile</button>
        <br><br>
        <button id="logout" type="submit">logout</button>
        <button id="logout-all" type="submit">logoutAll</button>
        <br><br>
        <button id="get-tasks" type="submit">my tasks</button>
        <button id="create-task" type="submit">Create New Task</button>

        <div id="task-field"></div>

        <script id="task-template" type="text/html">
            <div class="task-list">
                <h5> Task-Name {{description}} </h5>
                <h5> Task-Status {{completed}} </h5>
                <hr>
            </div>
        </script>

        <script src="/js/client.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>

    </body>
</html>