<!DOCTYPE html>
<html>
    <head>
        <title>Task-Manager</title>
    </head>
    <body>
        <h1 style="color: royalblue">Task Details</h1>
        <h2>Task Name :- {{task}}</h2>
        <h2>Task Status :- {{status}}</h2>
        <h2>Task Created At :- {{createdAt}}</h2>
        <h2>Task Updated At :- {{updatedAt}}</h2>
        
        <button onclick="homepage()">Home</button>

        <script>
            function homepage() {
                location.href = '/profile'
            }
        </script>
    </body>
</html>
